@font-face {
  font-family: 'SunBatang-Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'SunBatang-Light';
  font-size: 1.1rem;
}

.container{
  width: 70%;
  margin: 0 auto;
}

/* ----------------------------------------------- */
/* 에러 메세지 디자인 */
.error-msg{
  font-size: 0.7rem;
  color: red;
  font-style: italic;
}